We would be using Jupyter Notebook for most of our work. It is a nice user friendly tool to perform exploratory data analysis and run ML models. In this session, we will get started with basics of python and then move on to some libraries which we use in data analysis.

# Python Fundamentals

Python is a great general-purpose programming language on its own, but with the help of many popular libraries (numpy, scipy) it becomes a powerful environment for scientific computing. Python is the dominant programming language for Machine Learning and Data Science.

The notebook is divided into cells. If I define a variable in one cell, then its value will still be accessible in another cell. We can divide a notebook into subsections and subsections using markdown headings. These are annotated by a number of '#' symbols at the beginning of a markdown cell. This section has 4 subsections:
1. Basics
2. Booleans
3. Functions and Conditionals
4. Iteration and Loops

### Basics

In [2]:
# We define variables using =, and we can use them in expressions. Example:
a = 2

In [3]:
# TODO 1: Create a variable called `name` and set it to your name as a string. Strings are enclosed in single or double quotes.
# TODO 2: Create a variable called `university_name` and set it to your university name as a string.
# TODO 3: Create a variable called `num` and set it to 5 as an int.
name = "Chinmaya Kausik"
university_name = "University of Michigan"
degree = "Math PhD"
year = 4
research = "reinforcement learning, sequential decision making, bandits, RLHF, LLMs"
num = 5

In [4]:
print('My name is', name)
print('I study in', university_name)
print(num)

My name is Chinmaya Kausik
I study in University of Michigan
5

In python, we can assign any type of data to any variable without declaring its type first, which is an interesting feature as it makes it syntax friendly.

You can use type command to know the type of each variable

In [5]:
print(type(university_name))
print(type(num))

<class 'str'>
<class 'int'>

### Booleans

Python implements all of the usual operators for Boolean logic, but uses English words (`and`, `or`, `not`) rather than symbols (`&&`, `||`, `!`, etc.):

In [6]:
t, f = True, False
print(type(t)) # Prints "<type 'bool'>"

<class 'bool'>

In [7]:
print(t and f) # Logical AND;
print(t or f)  # Logical OR;
print(not t)   # Logical NOT;
print(t != f)  # Logical XOR;

# NOTE: Don't use the bitwise operators &, ^, |, ~, <<, >> with boolean values unless you know what they do. They are different from the standard logical operators.

False
True
False
True

### Functions and Conditionals

Functions allow us to carry tasks based on input provided. They are particulary useful when we have to perform one action multiple times on various inputs

In [11]:
# BONUS: Can you find a way to shorten this function?
def is_even(num):
    if num%2 == 1:
        return False
    
    return True

def is_even(num):
    return num%2 == 0

In [8]:
# BONUS: How can we make this function more efficient?
def is_prime(num):
    if num == 1:
        return False
    
    for i in range(2,num):
        if num%i == 0:
            return False
    
    return True

In [9]:
is_prime(5)

True

Functions are defined using **def** keyword, which is followed by function name( **is_even** ). We then enclose the function input in paranthesis, and put **:** sign, which indicates that we can write the body of the function

If-else are conditional statements which evaluate our statement. Return statement is used to return the output of the function. Lets test this on a few examples

In [12]:
print(is_even(5))
print(is_even(6))

False
True

In [1]:
## TODO: Write a function to compute factorial of a number n:-

### Iteration and Loops

In programming, we often use loops to perform repetitive tasks by iterating over many instances of the task. 

We use primarily two types of loops:- **for** and **while**.

We will see how to do cube of numbers from 1 to 5 using both for and while loops

In [13]:
for num in range(1,6):  #range is used to define a number interval which in this case is [1,2,3,4,5]
    print(num**3)

1
8
27
64
125

In [14]:
number = 1
while number<6:       #While loop will keep executing as long as the condition after the while is True
    print(number**3)
    number += 1

1
8
27
64
125

We can use the concepts learnt use far to perform complex tasks using the collective knowledge of functions and loops. 

Lets take a problem in which we have to print recurring sum of numbers from 1 to 10, only if its even

In [15]:
recur_sum = 0

for num in range(1,11):
    recur_sum += num
    if is_even(recur_sum):
        print(recur_sum)

6
10
28
36

The recurrence relation for fibonacci sequence is defined as:-

$F_1 = 1$ <br>
$F_2 = 1$ <br>
$F_n = F_{n-1} + F_{n-2}$

In [4]:
## TODO: Write a function to compute nth fibonacci number, given n as input

# Python Data Structures

We will get familiar with the following common data structures:
1. Lists
2. Tuples
3. Sets
4. Dictionaries

### Lists

Lists are similar to arrays in many other programming languages. A list is a collection of items and specifically in python, it can contain mixed data types as well.

We will be looking at some of the operations which we can perform on a list.

In [16]:
my_list = ['onion', 'pepper', 26, 5.4]
my_list.append('potato') # this will append an item to end of the list
my_list

['onion', 'pepper', 26, 5.4, 'potato']

In [17]:
print(my_list[:2]) #slicing
print(my_list[-2:])

['onion', 'pepper']
[5.4, 'potato']

In [18]:
## TODO: slice the list from 2nd element to the 3rd element, both included
## TODO: slice the list from 2nd element to the last element, both included

If you want access to the index of each element within the body of a loop, use the built-in `enumerate` function:

In [19]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)
for idx, animal in enumerate(animals):
    print (idx + 1, animal)

cat
dog
monkey
1 cat
2 dog
3 monkey

`zip()` makes an iterator that aggregates elements from each of the iterables.

In [21]:
x = [1, 2, 3, 4]
y = [5, 6, 7, 8]
z = [9, 10, 11, 12]

print(list(zip(x, y, z)))
for i, j, k in zip(x, y, z):
    print(i, j, k)

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]
1 5 9
2 6 10
3 7 11
4 8 12

In [22]:
del(my_list[-1]) #deletion
my_list

['onion', 'pepper', 26, 5.4]

In [23]:
my_list[1] = 'chillies'
my_list

['onion', 'chillies', 26, 5.4]

In [24]:
[x for x in range(1,11) if x%2 == 0] #using list comprehension to print even numbers

[2, 4, 6, 8, 10]

In [29]:
## TODO: Print square of the odd numbers between 1 and 10 using list comprehension

### Tuples

Tuples are very similar to lists, except a major difference - a tuple is immutable. Lets see some examples:-

In [25]:
blah = ('woohoo', 'yay', 'yikes')
# TODO: Make a tuple called `my_tuple` with your first name, last name and your field of study.

my_tuple = ('Chinmaya', 'Kausik', 'Math PhD')

In [26]:
my_tuple[2] # accesing the value

'Math PhD'

In [27]:
my_tuple[-1]

'Math PhD'

In [28]:
#expect error
my_tuple[2] = 25
my_tuple

TypeError: 'tuple' object does not support item assignment

There is an interesting concept of tuple unpacking. When a function returns multiple outputs, it returns it as a tuple. Lets take an example:-

In [29]:
first_name, last_name, program = my_tuple
print(first_name)
print(last_name)
print(program)

Chinmaya
Kausik
Math PhD

In [30]:
def square_and_cube(num):
    return num**2, num**3

num_square, num_cube = square_and_cube(5)

print(num_square)
print(num_cube)

25
125

### Sets

A set is a pythonic data structure which is similar to list except that its unordered. You cannot index or slice a set. Lets take a few examples:-

In [ ]:
my_set = {'Quant', 'Finance', 'Machine Learning'} 
my_set

we can see the order in which set was declared above is different from printed order

In [ ]:
my_set.add('Masters') #adding an element
my_set

In [ ]:
my_set.update({'Umich', 'GoBlue'})
my_set

Unordered feature of set gives us access to save memory while storing elements. This can enable us to make data retrival much easier later on

Searching for data is very easy in set, since it uses hashing to store the elements, hence the elements must be unique

In [ ]:
set([1,1,2,2,3]) # removing duplicates with set

In [ ]:
student_a = {'Maths', 'Biology'}
student_b = {'Maths', 'Chemistry'}

print(student_a.union(student_b))    #set operations
print(student_a.intersection(student_b))

### Dictionaries

To understand dictionaries, let us take a look at lists again:-

In [32]:
# TODO: Make a list called `my_list` with your country of birth, your name, your age, your university and your favorite color.
my_list = ['India', 'Chinmaya', 24, 'UMich', 'Brown']

It is easy to get mixed up of which data is which like is black my hair colour or eye colour. It is also difficult to remember which value is at which index. The dictionary data structure enables us to index using meaningful values

In [33]:
sample_dict = {'Key1': 'Value1', 'Key2': 'Value2'}

# TODO: Create a dictionary called `my_dict` with the following key-value pairs: 
# 'Country': your country of birth, 'Name': your name, 'Height': your height, 'University': your university, 'Hair_color': your hair color.
my_dict = {'Country': 'India', 'Name': 'Chinmaya', 'Age': 24, 'University': 'UMich', 'Hair_color': 'Brown'}
my_dict['Country']

'India'

In [34]:
print(my_dict.keys())
print(my_dict.values())

dict_keys(['Country', 'Name', 'Age', 'University', 'Hair_color'])
dict_values(['India', 'Chinmaya', 24, 'UMich', 'Brown'])

Dictionary is represented by key value pairs. It is mutable as well

In [38]:
key_labels = ['Country', 'Name', 'Age', 'University', 'Hair_color']
value_labels = ['India', 'Chinmaya', '24', 'UMich', 'Brown']

my_dict = dict(list(zip(key_labels,value_labels)))
my_dict

{'Country': 'India',
 'Name': 'Chinmaya',
 'Age': '24',
 'University': 'UMich',
 'Hair_color': 'Brown'}

In [39]:
my_dict['Favourite_book'] = 'Interpretor of Maladies' #adding element in dictionary
my_dict

{'Country': 'India',
 'Name': 'Chinmaya',
 'Age': '24',
 'University': 'UMich',
 'Hair_color': 'Brown',
 'Favourite_book': 'Interpretor of Maladies'}

In [40]:
my_dict.pop('Name')  #deleting an element
my_dict

{'Country': 'India',
 'Age': '24',
 'University': 'UMich',
 'Hair_color': 'Brown',
 'Favourite_book': 'Interpretor of Maladies'}

In [41]:
sorted(my_dict.items(),key = lambda x:x[0]) # sorting dictionary

[('Age', '24'),
 ('Country', 'India'),
 ('Favourite_book', 'Interpretor of Maladies'),
 ('Hair_color', 'Brown'),
 ('University', 'UMich')]

In [ ]:
my_dict.items()

In [42]:
if 'Hair_color' in my_dict:
    print('Yes, it exists')                  #searching dictionary
else:  
    print('No, it does not exist')

Yes, it exists

**Play with these data structures to get a hang of it. We will be using them a lot in the course while doing ML**

**You will need to learn some things outside of this tutorial as the course progresses, feel free to look them up as you go**